.id {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.highlight {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--color-highlight);
}

.dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dt {
  width: 50%;
  font-size: 12px;
  line-height: 21px;
}

.dd {
  margin: 0;
  width: 50%;
  text-align: right;
}
