.input-text {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background: var(--color-accent);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text);

  ::placeholder {
    color: var(--color-text-light);
  }
}
