:root {
  --color-background: #5a5e65;
  --color-foreground: #ffffff;
  --color-accent: #f6f6f6;
  --color-primary: #ffa100;
  --color-highlight: #056fff;
  --color-text: #5a5e65;
  --color-text-dark: #000000;
  --color-text-light: #b8babd;
  --color-text-placeholder: #b8babd;
  --color-ruler: #e5e6e7;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
